.wrapper {
    max-width:  70rem; /* tamanho do box mais distanciamento da side-bar mais o tamanho da side-bar,usando rem, asoma total dividido por 16px */
    margin: 2rem auto; /* margem 2rem encima e embaixo e auto, centralido na tela*/
    padding: 0 1rem; /* se diminuir a tela para menos que 70rem o conteudo não fica colado nas laterais, tem um espaçamento entre as laterais de 16px*/
    
    display: grid;
    grid-template-columns: 256px 1fr; /* especificao tamanho dascolunas tanto sidebaruanto do conteudo */
    gap: 2rem; /* espaçamento entre as colunas */
    align-items: flex-start; /* tenta alinhar sempre com o topo */
}

@media (max-width: 768px) {
    html    {
        font-size: 87.5%;
    }
    
    .wrapper {
        grid-template-columns: 1fr;
    }
}